@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito-Light.ttf);
  font-weight: 300;
}

:root {
  --blue-accent-color: #1f79ff;
  --white-accent-color: #f1f2f6;
  --header-height: 70px;
  --header-font-size: 22px;
  --header-line-height: 70px;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito', arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-accent-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::selection {
  background: var(--blue-accent-color);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
    #Elements
  \*------------------------------------*/

/*
      Elements: Images
      ---
      Default markup for images to make them responsive
  */

img {
  max-width: 100%;
  vertical-align: top;
}

/*
      Elements: typography
      ---
      Default markup for typographic elements
  */

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  /* margin: 0 0 24px; */
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: var(--blue-accent-color);
}

a:visited,
a:active {
  color: #1c75fa;
}

a:hover,
a:focus {
  color: #77aeff;
}

.c-menu {
  display: none;
}

.cancel-menu__symbol {
  display: none;
}

.menu__symbol,
.cancel-menu__symbol {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: white;
  background-color: var(--blue-accent-color);
}

.c-logo {
  display: flex;
  background-color: var(--blue-accent-color);
  align-items: center;
}

.logo__symbol {
  display: flex;
  height: 50px;
  fill: white;
  background-color: var(--blue-accent-color);
}

.title {
  display: flex;
  grid-area: header;
  background-color: var(--blue-accent-color);
  height: var(--header-height);
  color: white;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: main;
  background-color: var(--white-accent-color);
  padding-left: 16px;
}

.container {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: auto;
  grid-template-areas:
    'logo header'
    'sidebar main';
}

/* Sidebar css */
.bg-sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  background-color: var(--blue-accent-color);
  /* animation: slidein 0.5s; */
}

.sidenav {
  display: block;
  grid-area: sidebar;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 32px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px 0px 0px 0px;
  /* animation: slidein 0.5s; */
}

.sidenav header {
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  color: var(--blue-accent-color);
  font-weight: 600;
  margin-left: 32px;
  user-select: none;
  border-bottom: 2px solid var(--blue-accent-color);
  margin-bottom: 32px;
}

.sidenav a,
.dropdown-Country {
  padding: 6px 8px 6px 16px;
  margin: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--blue-accent-color);
  display: block;
  border: none;
  border-radius: 20px;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: 'Nunito';
}

.sidenav a:hover,
.dropdown-Country:hover,
.active {
  color: white;
  background-color: var(--blue-accent-color);
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.ride {
  width: 80%;
  height: 120px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
}

/* Animations */
@keyframes slidein {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

@keyframes slideout {
  from {
    left: 0px;
  }
  to {
    left: -250px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 500px) {
  .sidenavigation {
    display: none;
    grid-area: sidebar;
  }
  .container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
      'menu header'
      'sidebar main';
  }
  .c-menu {
    display: flex;
    background-color: var(--blue-accent-color);
    align-items: center;
    justify-content: center;
  }

  .c-logo {
    display: none;
  }
}
